{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)

  Usage:
  {% render 'card-product' %}
{% endcomment %}
{%- if card_product and card_product != empty -%}

    <div class='cbx-group card-product cbx-aspect-[3/5] cbx-rounded cbx-py-2.5 cbx-px-3 cbx-flex cbx-flex-col cbx-justify-between cbx-relative cbx-overflow-hidden'>

        <!-- Media -->
        <img srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
             src="{{ card_product.featured_media | image_url: width: 533 }}"
             sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
             alt="{{ card_product.featured_media.alt | escape }}"
             class="motion-reduce cbx-absolute cbx-object-cover cbx-inset-0 cbx-w-full cbx-h-full"
             {% comment %}loading="lazy"{% endcomment %}
             width="{{ card_product.featured_media.width }}"
             height="{{ card_product.featured_media.height }}">

        {%- if card_product.metafields.custom.echantillon != null -%}
            <img srcset="
                    {%- if card_product.metafields.custom.echantillon.width >= 165 -%}{{ card_product.metafields.custom.echantillon | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.metafields.custom.echantillon.width >= 360 -%}{{ card_product.metafields.custom.echantillon | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.metafields.custom.echantillon.width >= 533 -%}{{ card_product.metafields.custom.echantillon | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.metafields.custom.echantillon.width >= 720 -%}{{ card_product.metafields.custom.echantillon | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.metafields.custom.echantillon.width >= 940 -%}{{ card_product.metafields.custom.echantillon | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.metafields.custom.echantillon.width >= 1066 -%}{{ card_product.metafields.custom.echantillon | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.metafields.custom.echantillon | image_url }} {{ card_product.metafields.custom.echantillon.width }}w"
                 src="{{ card_product.metafields.custom.echantillon | image_url: width: 533 }}"
                 sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                 alt=""
                 class="cbx-opacity-0 group-hover:cbx-opacity-100 cbx-duration-200 motion-reduce cbx-absolute cbx-object-cover cbx-inset-0 cbx-w-full cbx-h-full"
                 loading="lazy"
                 width="{{ card_product.metafields.custom.echantillon.width }}"
                 height="{{ card_product.metafields.custom.echantillon.height }}">
        {%- endif -%}

        <!-- Infos -->
        <div class='cbx-flex cbx-justify-between cbx-uppercase cbx-font-medium cbx-text-xs cbx-z-10'>
            <!-- Concentration -->
            <div class='cbx-w-full'>
                <span>50 MG : cbd</span>
            </div>

            <!-- Prix -->
            {% render 'price', product: card_product, price_class: '' %}
        </div>

        <!-- Titre -->
        <div class='cbx-flex cbx-flex-col cbx-gap-2 cbx-z-10'>
            <div>
                <h3 class="cbx-font-display cbx-text-xl" id="title-{{ section_id }}-{{ card_product.id }}">
                    {{ card_product.title | escape }}
                </h3>
                <p class='cbx-uppercase' style='font-size: 10px'>Gel chauffant au CBG pour le sport</p>
            </div>

            <div class='cbx-w-full cbx-hidden cbx-delay-100 cbx-translate-y-6 group-hover:cbx-translate-y-0 group-hover:cbx-flex cbx-duration-200'>
                <a href="{{ card_product.url }}"
                   class='cbx-btn cbx-btn-white cbx-uppercase cbx-flex cbx-justify-center cbx-w-full'>
                    Découvrir {{ card_product.title | escape }}
                </a>
            </div>
        </div>
    </div>

{%- else -%}
    <div class="product-card-wrapper card-wrapper underline-links-hover">
        <div
                class="
        card
        card--{{ settings.card_style }}
        card--text
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {{ horizontal_class }}
      "
                style="--ratio-percent: 100%;"
        >
            <div
                    class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}"
                    style="--ratio-percent: 100%;"
            >
                <div class="card__content">
                    <div class="card__information">
                        <h3 class="card__heading">
                            <a role="link" aria-disabled="true" class="full-unstyled-link">
                                {{ 'onboarding.product_title' | t }}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card__content">
                <div class="card__information">
                    <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
                        <a role="link" aria-disabled="true" class="full-unstyled-link">
                            {{ 'onboarding.product_title' | t }}
                        </a>
                    </h3>
                    <div class="card-information">
                        {%- if show_vendor -%}
                            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                            <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
                        {%- endif -%}
                        {% render 'price' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
