{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<div class="disclosure">
    <ul id="{{ localPosition }}List" role="list" class="cbx-flex cbx-uppercase cbx-gap-2">
        {%- for language in localization.available_languages -%}
            {% if language.iso_code != localization.language.iso_code %}
                <li class="disclosure__item" tabindex="-1">
                    <a class=""
                       href="#"
                       hreflang="{{ language.iso_code }}"
                       lang="{{ language.iso_code }}"
                            {% if language.iso_code == localization.language.iso_code %}
                                aria-current="true"
                            {% endif %}
                       data-value="{{ language.iso_code }}">
                        {{ language.iso_code | capitalize }}
                    </a>
                </li>
            {% endif %}
        {%- endfor -%}
    </ul>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
