{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class='cbx-grid cbx-grid-cols-1 lg:cbx-grid-cols-2 lg:cbx-min-h-screen'>

    <!-- Image -->
    <div class='cbx-hidden lg:cbx-flex cbx-w-full cbx-h-full cbx-bg-white cbx-relative'>
        {% if section.settings.image_bg %}
            {{ section.settings.image_bg | image_url: width: '4000' | image_tag: class: 'cbx-absolute cbx-inset-0 cbx-object-cover cbx-w-full cbx-h-full', sizes: '100vw' }}
        {% endif %}
    </div>

    <!-- content -->
    <div class="cbx-bg-beige cbx-flex cbx-justify-center cbx-items-center cbx-py-12">
        <div class="contact cbx-container-site cbx-max-w-2xl">
            {%- if section.settings.heading != blank -%}
                <h2 class="cbx-text-3xl cbx-text-green2">{{ section.settings.heading }}</h2>
            {%- else -%}
                <h2 class="cbx-text-3xl cbx-text-green2">{{ 'templates.contact.form.title' | t }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank -%}
                <p class='cbx-font-display cbx-text-sm cbx-text-green3 cbx-pt-5'>{{ section.settings.description }}</p>
            {% endif %}

            {%- form 'contact', id: 'ContactForm', class: 'cbx-pt-5 cbx-flex cbx-flex-col cbx-gap-2' -%}
                {%- if form.posted_successfully? -%}
                    <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                        {{ 'templates.contact.form.post_success' | t }}
                    </h2>
                {%- elsif form.errors -%}
                    <div class="form__message">
                        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                            {{ 'templates.contact.form.error_heading' | t }}
                        </h2>
                    </div>
                    <ul class="form-status-list caption-large" role="list">
                        <li>
                            <a href="#ContactForm-email" class="link">
                                {{ form.errors.translated_s.email | capitalize }}
                                {{ form.errors.messages.email }}
                            </a>
                        </li>
                    </ul>
                {%- endif -%}
                {%- assign words = section.settings.liste | newline_to_br | split: '<br />' -%}
                {% if words.size > 0 %}
                    <div>
                        <h3 class="cbx-font-medium cbx-text-xs">
                            {{ 'templates.contact.form.praticien' | t }}
                        </h3>
                        <ul class="cbx-flex cbx-items-center cbx-w-full cbx-text-sm cbx-font-medium cbx-gap-2 cbx-pt-2">
                            {% for word in words %}
                                <li class="">
                                    <div class="cbx-flex cbx-items-center">
                                        <input id="{{ word | append: '_praticien' }}" type="checkbox" value="{{ word }}"
                                               name="contact[{{ word | append: '_praticien' }}]"
                                               class="cbx-w-4 cbx-h-4 cbx-rounded-none">
                                        <label for="{{ word | append: '_praticien' }}"
                                               class="cbx-w-full cbx-ml-2">
                                            {{ word }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="">
                    <label class="__label" for="ContactForm-name">
                        {{ 'templates.contact.form.name' | t }} <span aria-hidden="true">*</span>
                    </label>
                    <input class="__input"
                           autocomplete="name"
                           type="text"
                           aria-required="true"
                           id="ContactForm-name"
                           name="contact[{{ 'templates.contact.form.name' | t }}]"
                           value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                           placeholder="{{ 'templates.contact.form.name' | t }}">
                </div>
                <div class="">
                    <label class="" for="ContactForm-email">
                        {{- 'templates.contact.form.email' | t }}
                        <span aria-hidden="true">*</span>
                    </label>
                    <input autocomplete="email"
                           type="email"
                           id="ContactForm-email"
                           class="__input"
                           name="contact[email]"
                           spellcheck="false"
                           autocapitalize="off"
                           value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                           aria-required="true"
                            {% if form.errors contains 'email' %}
                                aria-invalid="true"
                                aria-describedby="ContactForm-email-error"
                            {% endif %}
                           placeholder="{{ 'templates.contact.form.email' | t }}">
                    {%- if form.errors contains 'email' -%}
                        <small class="contact__-error" id="ContactForm-email-error">
                            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                            <span class="form__message">
                                {{- form.errors.translated_s.email | capitalize }}
                                {{ form.errors.messages.email -}}</span>
                        </small>
                    {%- endif -%}
                </div>
                {% comment %}<div class="">
                    <label class="__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                    <input
                            type="tel"
                            id="ContactForm-phone"
                            class="__input"
                            autocomplete="tel"
                            name="contact[{{ 'templates.contact.form.phone' | t }}]"
                            pattern="[0-9\-]*"
                            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                            placeholder="{{ 'templates.contact.form.phone' | t }}"
                    >
                </div>{% endcomment %}
                <div class="">
                    <label class="" for="ContactForm-body">
                        {{- 'templates.contact.form.comment' | t -}}
                    </label>
                    <textarea rows="10"
                              id="ContactForm-body"
                              class="text-area __input"
                              name="contact[{{ 'templates.contact.form.comment' | t }}]"
                              placeholder="{{ 'templates.contact.form.comment' | t }}">{{- form.body -}}</textarea>
                </div>
                <div class="cbx-flex cbx-pt-4">
                    <button type="submit" class="cbx-btn cbx-btn-vert lg:cbx-w-auto cbx-px-8">
                        {{ 'templates.contact.form.send' | t }}
                    </button>
                </div>
            {%- endform -%}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Image background"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Titre"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "default": "Lorem ipsum Fondée en 2018 par Flora Mer, Jonathan Blondiau et Lionel Quartaert, la start-up développe et commercialise la meilleure qualité de solutions issus de la plante de cannabis",
      "label": "Description"
    },
    {
      "type": "textarea",
      "id": "liste",
      "default": "Pharmacien",
      "label": "Liste des praticiens"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
