<div class='cbx-bg-green cbx-text-green6 lg:cbx-mb-0'>
    <div class='cbx-container-site cbx-py-10 lg:cbx-py-14'>
        <div class='cbx-h-full cbx-grid cbx-grid-cols-1 lg:cbx-grid-cols-2 cbx-pt-5'>
            <!-- Titre -->
            <div class='cbx-relative lg:cbx-text-green6'>
                <div class='cbx-flex cbx-flex-col cbx-sticky cbx-top-10'>

                    <span class='cbx-uppercase cbx-text-xs cbx-font-medium cbx-text-green5 lg:cbx-text-green6'>{{ section.settings.sur_titre }}</span>

                    <h2 class='cbx-text-5xls cbx-pt-4'>
                        {{ section.settings.titre }}
                    </h2>
                </div>
            </div>
            <!-- FAQ -->
            <div x-data="{ open: 1 }" class="faq-container cbx-py-5 lg:cbx-pt-0">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}

                        {%- when 'faq' -%}
                            <button @click="open = {{ forloop.index }}"
                                    class="question cbx-flex cbx-justify-between cbx-items-end cbx-text-left cbx-text-xl cbx-font-light cbx-py-2.5 cbx-border-b cbx-border-green3 cbx-gap-7 cbx-cursor-pointer cbx-w-full">
                                <span class='cbx-font-display'>{{ block.settings.question }}</span>
                                <div class='cbx-duration-200' :class="{'cbx-rotate-45' : open == {{ forloop.index }} }">
                                    <svg class='cbx-w-3.5 cbx-h-3.5 ' width="13" height="13" viewBox="0 0 13 13"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.33953 12.72V7.48053H0.100098V5.95941H5.33953V0.719971H6.86066V5.95941H12.1001V7.48053H6.86066V12.72H5.33953Z"
                                              fill="#DFE1DE" />
                                    </svg>
                                </div>
                            </button>
                            <div x-show="open == {{ forloop.index }}" x-collapse
                                 class="answer cbx-text-green5 cbx-text-sm cbx-duration-200 cbx-font-display"
                                 {% if foorloop.index != 1 %}style='display: none;' {% endif %}>
                                <div class='cbx-py-5'>
                                    <p style='line-height: 160%;'>
                                        {{ block.settings.rponse }}
                                    </p>
                                </div>
                            </div>
                    {%- endcase -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "faq",
  "class": "faq",
  "max_blocks": 10,
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "sur_titre",
      "label": "Sur titre",
      "default": "Pour les curieux"
    },
    {
      "type": "text",
      "id": "titre",
      "label": "Titre",
      "default": "Pour les curieux."
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Le CBD est-il légal? "
        },
        {
          "type": "textarea",
          "id": "rponse",
          "label": "Réponse",
          "default": "Cette solution unique développée par CBX Medical promet de rafraîchir les muscles et les articulations fatiguées. Le gel refroidissant CanFlex Forte est parfait pour les sportifs de 30-45 ans qui peinent à récupérer après l’effort ainsi qu’aux personnes agées ayant envie de faciliter leurs mouvements."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "faq"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}