<footer class='cbx-bg-green lg:cbx-bg-green3'>

    <div class='cbx-container-site lg:cbx-px-0 cbx-grid cbx-grid-cols-1 lg:cbx-grid-cols-3 cbx-divide-y cbx-divide-green4'>
        <!-- Newsletter -->
        <div class='cbx-items-center cbx-justify-center cbx-pt-12 cbx-pb-14 lg:cbx-order-3 lg:!cbx-border-t-0 lg:cbx-py-20 lg:cbx-px-10'>
            <div class='cbx-flex cbx-flex-col cbx-gap-2.5'>
                {%- if section.settings.newsletter_heading != blank -%}
                    <h5 class="cbx-font-body cbx-text-green4 cbx-text-xs lg:cbx-font-medium lg:cbx-text-green6 lg:text-xss">
                        {{ section.settings.newsletter_heading }}
                    </h5>
                {%- endif -%}
                {%- form 'customer', id: 'ContactFooter', class: 'newsletter-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="cbx-w-full">
                        <div class="cbx-bg-green3 lg:cbx-bg-green4 lg:cbx-text-green5 cbx-rounded overflow-hidden cbx-relative">
                            <label class="cbx-hidden" for="NewsletterForm--{{ section.id }}">
                                {{ 'newsletter.label' | t }}
                            </label>
                            <input id="NewsletterForm--{{ section.id }}"
                                   type="email"
                                   name="contact[email]"
                                   class="cbx-bg-transparent cbx-text-sm cbx-text-green5 cbx-placeholder-green5 cbx-pl-2.5 cbx-py-3 cbx-lowercase cbx-w-full cbx-pr-[70px]"
                                   value="{{ form.email }}"
                                   aria-required="true"
                                   autocorrect="off"
                                   autocapitalize="off"
                                   autocomplete="email"
                                    {% if form.errors %}
                                        autofocus
                                        aria-invalid="true"
                                        aria-describedby="ContactFooter-error"
                                    {% elsif form.posted_successfully? %}
                                        aria-describedby="ContactFooter-success"
                                    {% endif %}
                                   placeholder="{{ 'newsletter.label' | t }}"
                                   required>
                            <div class='cbx-absolute cbx-right-2.5 cbx-top-0 cbx-bottom-0 cbx-flex cbx-items-center justify-center'>
                                <button type="submit"
                                        class="cbx-uppercase cbx-py-1.5 cbx-px-3 cbx-bg-green4 cbx-text-xss cbx-text-green6 lg:cbx-bg-green3 lg:cbx-text-green6 cbx-rounded"
                                        name="commit"
                                        id="Subscribe"
                                        aria-label="{{ 'newsletter.button_label' | t }}">
                                    Envoyer
                                </button>
                            </div>
                        </div>
                        {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                                {%- render 'icon-error' -%}
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                            </small>
                        {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                        <h3 class="cbx-font-body cbx-text-green4 cbx-text-xs lg:cbx-font-medium lg:cbx-text-green6 lg:text-xss"
                            id="ContactFooter-success" tabindex="-1"
                            autofocus>
                            {{- 'newsletter.success' | t }}
                        </h3>
                    {%- endif -%}
                {%- endform -%}
                {%- if section.settings.newsletter_subtitle != blank -%}
                    <span class="cbx-font-display cbx-text-green4 cbx-text-xss lg:cbx-font-medium lg:cbx-text-green5">{{ section.settings.newsletter_subtitle }}</span>
                {%- endif -%}
            </div>
        </div>

        <!-- Logo -->
        <div class='cbx-flex cbx-flex-col cbx-h-full cbx-items-center cbx-justify-center cbx-w-full cbx-min-h-[400px] cbx-aspect-square cbx-gap-4 cbx-py-8 lg:cbx-row-span-2 lg:cbx-order-1 lg:cbx-p-20 lg:!cbx-border-t-0'>
            <!-- C & B-->
            <div class='cbx-flex cbx-items-center cbx-justify-between cbx-w-full cbx-mb-auto'>
                <div>{% render 'c' %}</div>
                <div>{% render 'b' %}</div>
            </div>

            <!-- CBX & X -->
            <div class='cbx-flex cbx-items-center cbx-justify-between cbx-w-full cbx-mt-auto'>
                <div>{% render 'cbx' %}</div>
                <div>{% render 'x' %}</div>
            </div>

        </div>

        <!-- Part menu 1 -->
        <div class='cbx-grid cbx-grid-cols-2 cbx-py-8 lg:cbx-order-2 lg:cbx-border lg:cbx-border-green4 lg:cbx-py-20 lg:cbx-px-10 lg:cbx-items-center lg:cbx-mx-auto lg:cbx-w-full lg:!cbx-border-t-0'>
            {%- for block in section.blocks -%}
                {% if block.settings.emplacement == 'box1' %}
                    <div {{ block.shopify_attributes }}>
                        {%- if block.settings.heading != blank -%}
                            <h2 class="cbx-text-xs cbx-text-green4 cbx-pb-3 lg:cbx-text-xss lg:cbx-text-green6 lg:cbx-uppercase">{{- block.settings.heading -}}</h2>
                        {%- endif -%}
                        {%- case block.type -%}
                            {%- when 'link_list' -%}
                                {%- if block.settings.menu != blank -%}
                                    <ul class="cbx-font-display lg:cbx-text-sm cbx-text-green5 cbx-flex cbx-flex-col cbx-gap-y-1">
                                        {%- for link in block.settings.menu.links -%}
                                            <li>
                                                <a href="{{ link.url }}" class="hover:cbx-text-green4 {% if link.active %} active{% endif %}">
                                                    {{ link.title }}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                {%- endif -%}
                        {% endcase %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Part menu 2 -->
        <div class='cbx-grid cbx-grid-cols-2 lg:cbx-grid-cols-4 lg:cbx-col-span-2 cbx-pb-8 !cbx-border-0 cbx-gap-y-9 lg:cbx-order-4 lg:cbx-p-20  lg:!cbx-border-t lg:!cbx-border-l lg:cbx-border-green4'>
            {%- for block in section.blocks -%}
                {% if block.settings.emplacement == 'box2' %}
                    <div {{ block.shopify_attributes }}>
                        {%- if block.settings.heading != blank -%}
                            <h2 class="cbx-text-xs cbx-text-green4 cbx-pb-3 lg:cbx-text-xss lg:cbx-text-green6 lg:cbx-uppercase">{{- block.settings.heading -}}</h2>
                        {%- endif -%}
                        {%- case block.type -%}
                            {%- when 'link_list' -%}
                                {%- if block.settings.menu != blank -%}
                                    <ul class="cbx-font-display lg:cbx-text-sm cbx-text-green5 cbx-flex cbx-flex-col cbx-gap-y-1">
                                        {%- for link in block.settings.menu.links -%}
                                            <li>
                                                <a href="{{ link.url }}" class="hover:cbx-text-green4 {% if link.active %} active{% endif %}">
                                                    {{ link.title }}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                {%- endif -%}
                        {% endcase %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Produit",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "select",
          "id": "emplacement",
          "label": "Emplacement",
          "options": [
            {
              "value": "box1",
              "label": "Box1"
            },
            {
              "value": "box2",
              "label": "Box2"
            }
          ],
          "default": "box1",
          "info": "Veuillez choisir l'endroit où vous souhaitez afficher le menu."
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Abonnez-vous à notre newsletter",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_subtitle",
      "default": "En m'inscrivant, j'accepte la politique de protection des données",
      "label": "Sous titre formulaire"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
