<!-- Menu mobile -->
<div class='cbx-absolute cbx-top-0 cbx-container-site cbx-pt-5 cbx-pb-2.5 cbx-w-full lg:cbx-w-auto cbx-flex cbx-z-30'
     data-scroll-sticky
     x-data='{menuMobile: false, cartNotificationMobile: false}'>
    <header id="menuMobile" class='cbx-duration-300 cbx-w-full lg:cbx-w-auto lg:cbx-opacity-0 lg:-cbx-translate-y-20 cbx-px-2'>
        <!-- Header -->
        <div class='cbx-bg-white cbx-rounded cbx-mb-2.5 cbx-flex cbx-w-full cbx-relative cbx-z-20 cbx-border cbx-border-[#F6F6F6]'>

            <div class='cbx-flex cbx-items-center cbx-justify-between cbx-py-4 cbx-px-2 lg:cbx-px-6 cbx-text-xs cbx-tracking-cbxWidest cbx-w-full cbx-gap-2.5'>
                <!-- Menu 1 -->
                <div class='cbx-font-display cbx-flex cbx-items-center cbx-text-green3 cbx-cursor-pointer'
                     @click='menuMobile = !menuMobile; cartNotificationMobile = false'>
                    <div>
                        {% render 'hamburger' %}
                    </div>
                    <span class='cbx-pl-2 cbx-select-none'>Menu</span>
                </div>

                <!-- Ligne-->
                <svg width="1" height="8" viewBox="0 0 1 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.5" y1="0.5" x2="0.5" y2="7.5" stroke="#DFE1DE" />
                </svg>

                <!-- Logo -->
                <div>
                    <a href="{{ routes.root_url }}" class="" rel=''>
                        {% render 'logo_CBX_MEDICAL' %}
                    </a>
                </div>

                <!-- Ligne-->
                <svg width="1" height="8" viewBox="0 0 1 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.5" y1="0.5" x2="0.5" y2="7.5" stroke="#DFE1DE" />
                </svg>

                <!-- Menu 2 + Panier -->
                <div class='cbx-font-display cbx-text-green3 cbx-cursor-pointer cbx-select-none cart-item_count'
                     id='cart-item_count'
                     @click='cartNotificationMobile = !cartNotificationMobile; menuMobile = false'>
                    {%- if cart.item_count < 100 -%}
                        Panier (<span>{{ cart.item_count }}</span>)
                    {%- endif -%}
                </div>
            </div>
        </div>
        <!-- modal Mobile -->
        <div x-show='menuMobile && !cartNotificationMobile' style='display: none'
             x-transition:enter="cbx-delay-200 cbx-ease-out cbx-duration-300"
             x-transition:enter-start="cbx-opacity-0 -cbx-translate-y-20"
             x-transition:enter-end="cbx-opacity-100 cbx-translate-y-0"
             x-transition:leave="cbx-ease-in cbx-duration-150"
             x-transition:leave-start="cbx-opacity-100 cbx-translate-y-0"
             x-transition:leave-end="cbx-opacity-0 -cbx-translate-y-20"
             class='cbx-bg-white cbx-rounded cbx-w-full cbx-max-h-[87vh] cbx-overflow-y-scroll cbx-border cbx-border-[#F6F6F6]'>
            <ul class='cbx-flex cbx-flex-col cbx-divide-y cbx-divide-offWhite'>
                {% assign counter = 0 %}
                {% for link in section.settings.menu.links %}
                    <li>
                        <a href="{{ link.url }}" class='cbx-flex cbx-gap-2.5 cbx-items-center cbx-py-4 cbx-px-6'
                           aria-current="page">
                            <!-- Image -->
                            <div class='cbx-rounded cbx-overflow-hidden cbx-bg-green6 cbx-w-12 cbx-h-12 cbx-relative'>
                                {% for block in section.blocks %}
                                    {%- case block.type -%}
                                        {%- when 'image_du_header_mobile' -%}
                                            {%- assign image = block.settings.image -%}
                                            {% if image != blank %}
                                                {% if counter == forloop.index0 %}
                                                    {{ image | image_url: width: '150' | image_tag: class: 'cbx-absolute cbx-inset-0 cbx-w-full cbx-h-full cbx-object-cover cbx-bg-gray-100', loading: 'lazy' }}
                                                {% endif %}
                                            {% endif %}
                                    {%- endcase -%}
                                {% endfor %}
                            </div>
                            <!-- Title -->
                            <div>
                                <h4 class='cbx-text-xs cbx-font-display cbx-text-green2'>
                                    {{ link.title | escape }}
                                </h4>
                                {% for block in section.blocks %}
                                    {%- case block.type -%}
                                        {%- when 'image_du_header_mobile' -%}
                                            {% if counter == forloop.index0 %}
                                                <p class='cbx-text-xs cbx-text-green4'>
                                                    {{ block.settings.baseline }}
                                                </p>
                                            {% endif %}
                                    {%- endcase -%}
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                    {% assign counter = counter | plus: 1 %}
                {% endfor %}
            </ul>
        </div>

        <!-- Cart Notification mobile -->
        {% render 'cart-cbx-notifications-mobile' %}

    </header>
</div>

<script>
  if (window.matchMedia('(min-width: 1024px)').matches) {
    window.addEventListener('scroll', function() {
      var windowScrollY = window.pageYOffset || document.documentElement.scrollTop;
      var menuMobile = document.getElementById('menuMobile');

      if ((Math.round(windowScrollY) > 200)) {
        menuMobile.classList.remove('lg:-cbx-translate-y-20', 'lg:cbx-opacity-0');
      } else {
        menuMobile.classList.add('lg:-cbx-translate-y-20', 'lg:cbx-opacity-0');
      }
    });
  }
</script>

<!-- Ancien -->

{% comment %}
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print"
      onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
    <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print"
          onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
    <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
    {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
    {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart.css' | asset_url | stylesheet_tag }}
    {{ 'component-totals.css' | asset_url | stylesheet_tag }}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
    {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
    header-drawer {
        justify-self: start;
        margin-left: -1.2rem;
    }


    {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
        width: 75%;
    }

    {%- endif -%}

    {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
        header-drawer {
            display: none;
        }
    }

    {%- endif -%}

    .menu-drawer-container {
        display: flex;
    }

    .list-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-menu--inline {
        display: inline-flex;
        flex-wrap: wrap;
    }

    summary.list-menu__item {
        padding-right: 2.7rem;
    }

    .list-menu__item {
        display: flex;
        align-items: center;
        line-height: calc(1 + 0.3 / var(--font-body-scale));
    }

    .list-menu__item--link {
        text-decoration: none;
        padding-bottom: 1rem;
        padding-top: 1rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
    }

    @media screen and (min-width: 750px) {
        .list-menu__item--link {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }
    }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
    <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
    <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
    <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
              fill="currentColor" />
    </symbol>

    <symbol id="icon-reset" class="icon icon-close" fill="none" viewBox="0 0 18 18" stroke="currentColor">
        <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2" />
        <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round"
              transform="translate(5 5)" />
        <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round"
              transform="translate(5 5)" />
    </symbol>

    <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
              fill="currentColor">
    </symbol>
</svg>

{%- liquid
    for block in section.blocks
        if block.type == '@app'
            assign has_app_block = true
        endif
    endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}" {% else %}div{% endif %}
        class="header-wrapper">
    {%- liquid
        assign social_links = false
        assign localization_forms = false

        if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
            assign social_links = true
        endif

        if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
            assign localization_forms = true
        endif
    -%}
    <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} cbx-container-site{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
        {%- liquid
            if section.settings.menu != blank
                render 'header-drawer'
            endif

            if section.settings.logo_position == 'top-center' or section.settings.menu == blank
                render 'header-search', input_id: 'Search-In-Modal-1'
            endif
        -%}

        {%- if section.settings.logo_position != 'middle-center' -%}
            {%- if request.page_type == 'index' -%}
                <h1 class="header__heading">
            {%- endif -%}
            <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                {%- if settings.logo != blank -%}
                    <div class="header__heading-logo-wrapper">
                        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                        {{ settings.logo | image_url: width: 600 | image_tag:
                        class: 'header__heading-logo motion-reduce',
                        widths: widths,
                        height: logo_height,
                        width: settings.logo_width,
                        alt: logo_alt,
                        sizes: sizes,
                        preload: true
                        }}
                    </div>
                {%- else -%}
                    <span class="h2">{{ shop.name }}</span>
                {%- endif -%}
            </a>
            {%- if request.page_type == 'index' -%}
                </h1>
            {%- endif -%}
        {%- endif -%}

        {%- liquid
            if section.settings.menu != blank
                if section.settings.menu_type_desktop == 'dropdown'
                    render 'header-dropdown-menu'
                elsif section.settings.menu_type_desktop != 'drawer'
                    render 'header-mega-menu'
                endif
            endif
        %}

        {%- if section.settings.logo_position == 'middle-center' -%}
            {%- if request.page_type == 'index' -%}
                <h1 class="header__heading">
            {%- endif -%}
            <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                {%- if settings.logo != blank -%}
                    <div class="header__heading-logo-wrapper">
                        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                        {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                        {{ settings.logo | image_url: width: 600 | image_tag:
                        class: 'header__heading-logo',
                        widths: widths,
                        height: logo_height,
                        width: settings.logo_width,
                        alt: logo_alt,
                        sizes: sizes,
                        preload: true
                        }}
                    </div>
                {%- else -%}
                    <span class="h2">{{ shop.name }}</span>
                {%- endif -%}
            </a>
            {%- if request.page_type == 'index' -%}
                </h1>
            {%- endif -%}
        {%- endif -%}

        <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header__localization{% endif %}">
            <div class="desktop-localization-wrapper">
                {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                    <noscript class="small-hide medium-hide">
                        {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
                            <div class="localization-form__select">
                                <h2 class="visually-hidden"
                                    id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                                <select class="localization-selector link" name="country_code"
                                        aria-labelledby="HeaderCountryMobileLabelNoScript">
                                    {%- for country in localization.available_countries -%}
                                        <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                                            {{ country.name }}
                                            ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                                        </option>
                                    {%- endfor -%}
                                </select>
                                {% render 'icon-caret' %}
                            </div>
                            <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                        {%- endform -%}
                    </noscript>

                    <localization-form class="small-hide medium-hide no-js-hidden">
                        {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                            <div>
                                <h2 class="visually-hidden"
                                    id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                            </div>
                        {%- endform -%}
                    </localization-form>
                {% endif %}

                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                    <noscript class="small-hide medium-hide">
                        {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
                            <div class="localization-form__select">
                                <h2 class="visually-hidden"
                                    id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                                <select class="localization-selector link" name="locale_code"
                                        aria-labelledby="HeaderLanguageMobileLabelNoScript">
                                    {%- for language in localization.available_languages -%}
                                        <option value="{{ language.iso_code }}"
                                                lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                                            {{ language.endonym_name | capitalize }}
                                        </option>
                                    {%- endfor -%}
                                </select>
                                {% render 'icon-caret' %}
                            </div>
                            <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                        {%- endform -%}
                    </noscript>

                    <localization-form class="small-hide medium-hide no-js-hidden">
                        {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                            <div>
                                <h2 class="visually-hidden"
                                    id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                            </div>
                        {%- endform -%}
                    </localization-form>
                {%- endif -%}
            </div>
            {% render 'header-search', input_id: 'Search-In-Modal' %}

            {%- if shop.customer_accounts_enabled -%}
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                   class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                    {% render 'icon-account' %}
                    <span class="visually-hidden">
            {%- liquid
                if customer
                    echo 'customer.account_fallback' | t
                else
                    echo 'customer.log_in' | t
                endif
            -%}
          </span>
                </a>
            {%- endif -%}

            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when '@app' -%}
                        {% render block %}
                {%- endcase -%}
            {%- endfor -%}

            <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset"
               id="cart-icon-bubble">
                {%- liquid
                    if cart == empty
                        render 'icon-cart-empty'
                    else
                        render 'icon-cart'
                    endif
                -%}
                <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                        {%- if cart.item_count < 100 -%}
                            <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                {%- endif -%}
            </a>
        </div>
    </header>
    </{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

    {%- if settings.cart_type == "notification" -%}
        {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
    {%- endif -%}
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }}
      {{ settings.social_facebook_link | json }}
      {{ settings.social_pinterest_link | json }}
      {{ settings.social_instagram_link | json }}
      {{ settings.social_tiktok_link | json }}
      {{ settings.social_tumblr_link | json }}
      {{ settings.social_snapchat_link | json }}
      {{ settings.social_youtube_link | json }}
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
    </script>
{%- endif -%}

{% schema %}
{
  "name": "En-tête mobile",
  "class": "cbx-sticky cbx-top-0 cbx-w-full cbx-flex cbx-justify-center",
  "max_blocks": 3,
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ],
  "blocks": [
    {
      "name": "Image du header mobile",
      "type": "image_du_header_mobile",
      "settings": [
        {
          "type": "text",
          "id": "baseline",
          "label": "Baseline"
        },
        {
          "type": "text",
          "id": "nom_du_menu",
          "label": "Nom du menu cible"
        },
        {
          "type": "image_picker",
          "label": "Image du menu mobile",
          "id": "image"
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
