{% comment %}{%- if shop.customer_accounts_enabled -%}
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                   class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                    {% render 'icon-account' %}
                    <span class="visually-hidden">
            {%- liquid
                if customer
                    echo 'customer.account_fallback' | t
                else
                    echo 'customer.log_in' | t
                endif
            -%}
          </span>
                </a>
            {%- endif -%}{% endcomment %}

<!-- Menu desktop -->
<div class='cbx-top-0 cbx-container-site cbx-py-2.5 cbx-w-full cbx-flex {% if template contains 'product' or template contains 'login' or template contains 'register' %}cbx-absolute{% else %}cbx-relative{% endif %}'>

    <div class='cbx-flex cbx-items-center cbx-justify-between cbx-text-xs cbx-w-full cbx-gap-2.5 cbx-relative {% if template contains 'product' or template contains 'login' or template contains 'register' %}cbx-text-white{% else %}cbx-text-green{% endif %}'
         x-data='{megaMenu : false, cartNotification : false}' @mousemove.away="megaMenu = false">
        <!-- Menu 1 -->
        <div class='cbx-font-display cbx-flex cbx-items-center cbx-cursor-pointer cbx-relative cbx-z-10'>
            <ul class='cbx-flex cbx-gap-x-5'>
                {% for link in section.settings.menu_gauche.links %}
                    {% assign indexMenu = '1' | append: forloop.index %}
                    <li>
                        <a href="{{ link.url }}"
                           class='cbx-text-xs cbx-font-display cbx-py-4 cbx-flex cbx-items-center cbx-gap-x-1'
                           aria-current="page"
                           {%- if link.links != blank -%}@mouseenter="megaMenu = {{ indexMenu }}"
                           {% else %}@mouseenter="megaMenu = false"{% endif %}>
                            <!-- Title -->
                            {{ link.title | escape }}
                            {%- if link.links != blank -%}
                                <div class='cbx-duration-150'
                                     :class="{'cbx-rotate-180' : megaMenu == {{ indexMenu }} }">
                                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L4 3.5L7 0.5" stroke="#1E271D" />
                                    </svg>
                                </div>
                            {%- endif -%}
                        </a>
                    </li>
                {% endfor %}
            </ul>


            <!-- Submenu -->
            {% for link in section.settings.menu_gauche.links %}
                {% assign indexMenu = '1' | append: forloop.index %}
                {%- if link.links != blank -%}
                    <div x-show="megaMenu === {{ indexMenu }}" style="display: none"
                         x-transition:enter="cbx-ease-out cbx-duration-300"
                         x-transition:enter-start="cbx-opacity-0 cbx-translate-y-10"
                         x-transition:enter-end="cbx-opacity-100 cbx-translate-y-0"
                         x-transition:leave="cbx-ease-in cbx-duration-150"
                         x-transition:leave-start="cbx-opacity-100 cbx-translate-y-0"
                         x-transition:leave-end="cbx-opacity-0 cbx-translate-y-10"
                         class='cbx-bg-white cbx-rounded cbx-absolute cbx-left-0 cbx-top-11 cbx-max-h-[87vh] cbx-overflow-y-scroll cbx-w-full'>
                        <ul class='cbx-flex cbx-flex-col cbx-divide-y cbx-divide-offWhite'
                            @mouseover="megaMenu =  {{ indexMenu }}">
                            {%- for childlink in link.links -%}
                                <li>
                                    <a href="{{ childlink.url }}"
                                       class='cbx-flex cbx-gap-2.5 cbx-items-center cbx-py-4 cbx-px-6'
                                       aria-current="page">
                                        <!-- Image -->
                                        <div class='cbx-rounded cbx-bg-green6 cbx-w-12 cbx-h-12'></div>
                                        <!-- Title -->
                                        <div>
                                            <h4 class='cbx-text-xs cbx-font-display cbx-text-green2'>
                                                {{ childlink.title | escape }}
                                            </h4>
                                            <p class='cbx-text-xs cbx-text-green4'>Tous nos produits</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


        <!-- Logo -->
        <div class='cbx-absolute cbx-right-0 cbx-left-0 cbx-flex cbx-justify-center'>
            <a href="{{ routes.root_url }}" class="" rel=''>
                {% render 'logo_CBX_MEDICAL' %}
            </a>
        </div>

        <!-- Menu 2 + Panier -->
        <div class='cbx-font-display cbx-text-xs cbx-relative cbx-z-10'>
            <ul class='cbx-flex cbx-gap-x-5'>
                {% for link in section.settings.menu_droite.links %}
                    {% assign indexMenu = '2' | append: forloop.index %}
                    <li>
                        <a href="{{ link.url }}"
                           class='cbx-text-xs cbx-font-display cbx-py-4 cbx-flex cbx-items-center cbx-gap-x-1'
                           aria-current="page"
                           {%- if link.links != blank -%}@mouseenter="megaMenu = {{ indexMenu }}"
                           {% else %}@mouseenter="megaMenu = false"{% endif %}>
                            <!-- Title -->
                            {{ link.title | escape }}
                            {%- if link.links != blank -%}
                                <div class='cbx-duration-150'
                                     :class="{'cbx-rotate-180' : megaMenu == {{ indexMenu }}}">
                                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L4 3.5L7 0.5" stroke="#1E271D" />
                                    </svg>
                                </div>
                            {%- endif -%}
                        </a>
                    </li>
                {% endfor %}
                <li class='cbx-text-xs cbx-font-display cbx-py-4 cbx-flex cbx-items-center cbx-gap-x-1 cbx-select-none cbx-cursor-pointer'
                    id="cart-notif"
                    @click='cartNotification = !cartNotification;'>
                    <div id='cart-item_count' class='cart-item_count'>
                        {%- if cart.item_count < 100 -%}
                            Panier (<span>{{ cart.item_count }}</span>)
                        {%- endif -%}
                    </div>
                    <div class='cbx-duration-150'
                         :class="{'cbx-rotate-180' : cartNotification}">
                        <svg width="8" height="5" viewBox="0 0 8 5" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.5L4 3.5L7 0.5" stroke="currentColor" />
                        </svg>
                    </div>
                </li>
            </ul>

            <!-- Submenu -->
            {% for link in section.settings.menu_droite.links %}
                {%- if link.links != blank -%}
                    {% assign indexMenu = '2' | append: forloop.index %}
                    <div x-show="megaMenu == {{ indexMenu }}" style="display: none"
                         x-transition:enter="cbx-ease-out cbx-duration-300"
                         x-transition:enter-start="cbx-opacity-0 cbx-translate-y-10"
                         x-transition:enter-end="cbx-opacity-100 cbx-translate-y-0"
                         x-transition:leave="cbx-ease-in cbx-duration-150"
                         x-transition:leave-start="cbx-opacity-100 cbx-translate-y-0"
                         x-transition:leave-end="cbx-opacity-0 cbx-translate-y-10"
                         class='cbx-bg-white cbx-rounded cbx-absolute cbx-right-0 cbx-top-11 cbx-max-h-[87vh] cbx-overflow-y-scroll cbx-w-full'>
                        <ul class='cbx-flex cbx-flex-col cbx-divide-y cbx-divide-offWhite'
                            @mouseover="megaMenu = {{ indexMenu }}">
                            {%- for childlink in link.links -%}
                                <li>
                                    <a href="{{ childlink.url }}"
                                       class='cbx-flex cbx-gap-2.5 cbx-items-center cbx-py-4 cbx-px-6'
                                       aria-current="page">
                                        <!-- Image -->
                                        <div class='cbx-rounded cbx-bg-green6 cbx-w-12 cbx-h-12'></div>
                                        <!-- Title -->
                                        <div>
                                            <h4 class='cbx-text-xs cbx-font-display cbx-text-green2'>
                                                {{ childlink.title | escape }}
                                            </h4>
                                            <p class='cbx-text-xs cbx-text-green4'>Tous nos produits</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Cart Notification -->
        {% render 'cart-cbx-notifications' %}
    </div>

</div>

<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }}
      {{ settings.social_facebook_link | json }}
      {{ settings.social_pinterest_link | json }}
      {{ settings.social_instagram_link | json }}
      {{ settings.social_tiktok_link | json }}
      {{ settings.social_tumblr_link | json }}
      {{ settings.social_snapchat_link | json }}
      {{ settings.social_youtube_link | json }}
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }







</script>

{%- if request.page_type == 'index' -%}
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }







    </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "header_position",
  "max_blocks": 3,
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu_gauche",
      "label": "Menu gauche"
    },
    {
      "type": "link_list",
      "id": "menu_droite",
      "label": "Menu droite"
    }
  ],
  "blocks": [
  ]
}
{% endschema %}
