{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>

<div class='cbx-container-site cbx-hidden lg:cbx-flex cbx-flex-wrap cbx-items-center cbx-justify-center cbx-gap-7 cbx-mb-11'>
    {%- for block in section.blocks -%}
        <div class='cbx-flex cbx-items-center'>
            {%- case block.type -%}
                {%- when 'liste' -%}
                    <div class='cbx-w-3 cbx-h-3 cbx-bg-green5 cbx-rounded-sm'></div>
                    <span class='cbx-pl-4 cbx-font-medium cbx-uppercase cbx-text-xss cbx-tracking-widest' {{ block.shopify_attributes }}>{{ block.settings.texte }}</span>
            {%- endcase -%}
        </div>
    {%- endfor -%}
</div>

<div class='lg:cbx-hidden swiper-container-liste  cbx-mb-11'>
    <div class='swiper-wrapper'>
        {% for block in section.blocks %}
            <div class='swiper-slide'>
                <div class='cbx-flex cbx-items-center cbx-justify-center'>
                    {% case block.type %}
                        {% when 'liste' %}
                            <div class='cbx-hidden lg:cbx-flex cbx-w-3 cbx-h-3 cbx-bg-green5 cbx-rounded-sm'></div>
                            <span class='cbx-pl-4 cbx-text-green3 cbx-text-center cbx-uppercase cbx-text-xss cbx-tracking-widest' {{ block.shopify_attributes }}>{{ block.settings.texte }}</span>
                    {% endcase %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class='swiper-pagination cbx-flex cbx-justify-center cbx-pt-4'></div>
</div>

{% javascript %}
// Attendre que le document soit prêt
var swiperListe = null; // Déclarer la variable swiper en dehors de la portée de la condition

// Fonction pour initialiser ou détruire le carrousel en fonction de la largeur d'écran
function initOrDestroySwiper() {
if (window.innerWidth <= 1024) {
if (swiperListe === null) {
swiperListe = new Swiper('.swiper-container-liste', {
slidesPerView: 1,
autoplay: true,
spaceBetween: 28,
centeredSlides: true,
pagination: {
el: '.swiper-pagination',
clickable: true
},
breakpoints: {
1024: {
centeredSlides: false,
slidesPerView: 4
}
}
});
}
} else {
if (swiperListe !== null) {
// Détruire l'instance Swiper
swiperListe.destroy();
swiperListe = null;
}
}
}

// Exécuter la fonction initOrDestroySwiper lors du chargement initial et du redimensionnement de la fenêtre
document.addEventListener('DOMContentLoaded', function() {
initOrDestroySwiper();
window.addEventListener('resize', initOrDestroySwiper);
});

{% endjavascript %}

{% schema %}
{
  "name": "Liste",
  "class": "liste cbx-overflow-hidden",
  "max_blocks": 5,
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "name": "Liste",
      "type": "liste",
      "settings": [
        {
          "type": "text",
          "id": "texte",
          "label": "Texte",
          "default": "Cannabinoides 100% naturels",
          "placeholder": "Cannabinoides 100% naturels"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Liste"
    }
  ]
}
{% endschema %}