{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="register-cbx cbx-relative cbx-min-h-screen cbx-w-full cbx-flex cbx-justify-center cbx-items-center">
    <div class='cbx-max-w-[331px] cbx-w-full cbx-m-auto cbx-p-10 cbx-bg-white cbx-rounded'>
        {%- form 'create_customer', novalidate: 'novalidate', class: 'cbx-flex cbx-flex-col cbx-gap-2' -%}
            {%- if form.errors -%}
                <h2 class="form__message" tabindex="-1" autofocus>
                    <svg aria-hidden="true" focusable="false">
                        <use href="#icon-error" />
                    </svg>
                    {{ 'templates.contact.form.error_heading' | t }}
                </h2>
                <ul>
                    {%- for cbx-w-full in form.errors -%}
                        <li>
                            {%- if cbx-w-full == 'form' -%}
                                {{ form.errors.messages[cbx-w-full] }}
                            {%- else -%}
                                <a href="#RegisterForm-{{ cbx-w-full }}">
                                    {{ form.errors.translated_cbx-w-fulls[cbx-w-full] | capitalize }}
                                    {{ form.errors.messages[cbx-w-full] }}
                                </a>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
            <div class="cbx-w-full">
                <input
                        type="text"
                        name="customer[first_name]"
                        id="RegisterForm-FirstName"
                        {% if form.first_name %}
                            value="{{ form.first_name }}"
                        {% endif %}
                        autocomplete="given-name"
                        placeholder="{{ 'customer.register.first_name' | t }}"
                >
                <label for="RegisterForm-FirstName">
                    {{ 'customer.register.first_name' | t }}
                </label>
            </div>
            <div class="cbx-w-full">
                <input
                        type="text"
                        name="customer[last_name]"
                        id="RegisterForm-LastName"
                        {% if form.last_name %}
                            value="{{ form.last_name }}"
                        {% endif %}
                        autocomplete="family-name"
                        placeholder="{{ 'customer.register.last_name' | t }}"
                >
                <label for="RegisterForm-LastName">
                    {{ 'customer.register.last_name' | t }}
                </label>
            </div>
            <div class="cbx-w-full">
                <input
                        type="email"
                        name="customer[email]"
                        id="RegisterForm-email"
                        {% if form.email %}
                            value="{{ form.email }}"
                        {% endif %}
                        spellcheck="false"
                        autocapitalize="off"
                        autocomplete="email"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="RegisterForm-email-error"
                        {% endif %}
                        placeholder="{{ 'customer.register.email' | t }}"
                >
                <label for="RegisterForm-email">
                    {{ 'customer.register.email' | t }}
                </label>
            </div>
            {%- if form.errors contains 'email' -%}
                <span id="RegisterForm-email-error" class="form__message">
        {{ form.errors.translated_cbx-w-fulls.email | capitalize }}
                    {{ form.errors.messages.email }}.
      </span>
            {%- endif -%}
            <div class="cbx-w-full">
                <input type="password"
                       name="customer[password]"
                       id="RegisterForm-password"
                       aria-required="true"
                        {% if form.errors contains 'password' %}
                            aria-invalid="true"
                            aria-describedby="RegisterForm-password-error"
                        {% endif %}
                       placeholder="{{ 'customer.register.password' | t }}">
                <label for="RegisterForm-password">
                    {{ 'customer.register.password' | t }}
                </label>
            </div>
            {%- if form.errors contains 'password' -%}
                <span id="RegisterForm-password-error" class="form__message">
        <svg aria-hidden="true" focusable="false">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_cbx-w-fulls.password | capitalize }}
                    {{ form.errors.messages.password }}.
      </span>
            {%- endif -%}
            <div class='cbx-flex cbx-flex-col cbx-items-center cbx-justify-center cbx-font-display cbx-text-11 cbx-text-green cbx-gap-2 cbx-pt-4'>
                <button class='cbx-btn cbx-btn-vert text-xs'>
                    {{ 'customer.register.submit' | t }}
                </button>
            </div>
            <div class='cbx-flex cbx-flex-col cbx-items-center cbx-justify-center cbx-font-display cbx-text-11 cbx-text-green cbx-gap-2 cbx-pt-4'>
                <div>
                    <a href="{{ routes.account_login_url }}">
                        {{ 'customer.login_page.already_account' | t }}
                    </a>
                </div>
            </div>
        {%- endform -%}
    </div>
    {% if section.settings.image_bg %}
        {{ section.settings.image_bg | image_url: width: '4000' | image_tag: class: 'cbx-absolute cbx-inset-0 cbx-object-cover cbx-w-full cbx-h-full cbx-z-[-1]', sizes: '100vw' }}
    {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Image background"
    }
  ]
}
{% endschema %}
