<div class='cbx-container-site cbx-grid cbx-grid-cols-1 lg:cbx-grid-cols-6 cbx-pb-20 lg:cbx-pb-9 cbx-gap-y-4'>
    <div class='cbx-relative cbx-h-full cbx-order-2 cbx-hidden lg:cbx-block'>
        <div class='cbx-top-5 cbx-sticky cbx-w-full cbx-rounded cbx-border cbx-border-green5 cbx-font-display cbx-px-4 cbx-py-6 cbx-text-sm'>
            <ul id='titres' class='cbx-flex cbx-flex-col cbx-gap-3'>
            </ul>
        </div>
    </div>
    <article
            class="article cbx-px-[10px] lg:cbx-px-6 cbx-pt-[90px] lg:cbx-pt-0 lg:cbx-col-span-4 cbx-order-1 lg:cbx-order-2"
            itemscope
            itemtype="http://schema.org/BlogPosting">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when '@app' -%}
            <div class="">
                {% render block %}
            </div>
        {% when 'image' %}
            <div class='cbx-w-full lg:cbx-rounded cbx-overflow-hidden cbx-aspect-[2/1] cbx-max-h-[350px] cbx-relative'
                    {%- if article.image -%}
                    {% if block.settings.image_height == 'adapt' and article.image %}
                 style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
                {% else %}
                    >
                {% endif %}
                <img srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w"
                     sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                     src="{{ article.image | image_url: width: 1100 }}"
                     loading="eager"
                     class='cbx-absolute cbx-w-full cbx-h-full cbx-object-cover cbx-inset-0'
                     fetchpriority="high"
                     width="{{ article.image.width }}"
                     height="{{ article.image.height }}"
                     alt="{{ article.image.alt | escape }}">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder cbx-absolute cbx-object-cover cbx-inset-0 cbx-w-full cbx-h-full' }}
                {%- endif -%}
            </div>
        {% when 'breadcrumb' %}
            <div class='cbx-pt-4 cbx-border-b cbx-border-green5 cbx-border-dashed cbx-pb-2.5 cbx-flex cbx-flex-col'>
                <!-- Tag + date de l'article -->
                <div class='cbx-flex cbx-flex-col lg:cbx-flex-row cbx-gap-2 cbx-justify-between lg:cbx-items-center '>
                    {%- if article.tags.size > 0 -%}
                        <div class='cbx-flex cbx-flex-wrap cbx-gap-2.5'>
                            {% for tag in article.tags %}
                                <a href="{{ blog.url }}/tagged/{{ tag | handle }}"
                                   class='cbx-px-4 cbx-py-1.5 cbx-text-xss cbx-text-center cbx-uppercase cbx-bg-grisFonce hover:cbx-opacity-90 cbx-rounded cbx-border cbx-border-green6 !cbx-no-underline'>
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class='cbx-flex cbx-gap-2.5'>
                        <span class='cbx-text-xss cbx-font-body'>{{ article.published_at | time_tag: format: 'date' }} - {{ article.author }}</span>
                    </div>
                </div>

                {% render 'breadcrumb', title: block.settings.breadcrumb %}
            </div>
        {%- when 'title' -%}
            <header class="{% if block.settings.blog_divide %}cbx-border-b cbx-border-green5 cbx-border-dashed{% endif %} cbx-flex cbx-justify-between cbx-gap-2"{{ block.shopify_attributes }}>
                <div>
                    <h1 class="article-template__title !cbx-pt-5" itemprop="headline">
                        {{ article.title | escape }}
                    </h1>
                    {%- if block.settings.blog_show_date -%}
                        <span class="circle-divider caption-with-letter-spacing"
                              itemprop="dateCreated pubdate datePublished">{{- article.published_at | time_tag: format: 'date' -}}</span>
                    {%- endif -%}
                    {%- if article.metafields.custom.presentation != blank -%}
                        <div class='cbx-font-body cbx-pb-5'>
                            {{ article.metafields.custom.presentation | newline_to_br }}
                        </div>
                    {%- endif -%}
                    {%- if block.settings.blog_show_author -%}
                        <span class="caption-with-letter-spacing" itemprop="author" itemscope
                              itemtype="http://schema.org/Person">
              <span itemprop="name">{{ article.author }}</span></span>
                    {%- endif -%}
                </div>

                <div class="social-share-buttons cbx-pt-5 cbx-flex cbx-flex-col cbx-gap-1">
                    <!-- Facebook Share Button -->
                    <a href="https://www.facebook.com/cbxmedicalbelgium/" target="_blank"
                       class="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 1920 1920">
                            <path d="m1416.013 791.915-30.91 225.617h-371.252v789.66H788.234v-789.66H449.808V791.915h338.426V585.137c0-286.871 176.207-472.329 449.09-472.329 116.87 0 189.744 6.205 231.822 11.845l-3.272 213.66-173.5.338c-4.737-.451-117.771-9.25-199.332 65.655-52.568 48.169-79.191 117.433-79.191 205.65v181.96h402.162Zm-247.276-304.018c44.446-41.401 113.71-36.889 118.787-36.663l289.467-.113 6.204-417.504-43.544-10.717C1511.675 16.02 1426.053 0 1237.324 0 901.268 0 675.425 235.206 675.425 585.137v93.97H337v451.234h338.425V1920h451.234v-789.66h356.7l61.932-451.233H1126.66v-69.152c0-54.937 14.214-96 42.078-122.058Z"
                                  fill-rule="evenodd"></path>
                        </svg>
                    </a>

                    <!-- LinkedIn Button -->
                    <a href="https://www.linkedin.com/company/cbx-medical/"
                       target="_blank" class="linkedin-share">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 1920 1920">
                            <path d="M1168 601.321v74.955c72.312-44.925 155.796-71.11 282.643-71.11 412.852 0 465.705 308.588 465.705 577.417v733.213L1438.991 1920v-701.261c0-117.718-42.162-140.06-120.12-140.06-74.114 0-120.12 23.423-120.12 140.06V1920l-483.604-4.204V601.32H1168Zm-687.52-.792v1318.918H0V600.53h480.48Zm-120.12 120.12H120.12v1078.678h240.24V720.65Zm687.52.792H835.267v1075.316l243.364 2.162v-580.18c0-226.427 150.51-260.18 240.24-260.18 109.55 0 240.24 45.165 240.24 260.18v580.18l237.117-2.162v-614.174c0-333.334-93.573-457.298-345.585-457.298-151.472 0-217.057 44.925-281.322 98.98l-16.696 14.173H1047.88V721.441ZM240.24 0c132.493 0 240.24 107.748 240.24 240.24 0 132.493-107.747 240.24-240.24 240.24C107.748 480.48 0 372.733 0 240.24 0 107.748 107.748 0 240.24 0Zm0 120.12c-66.186 0-120.12 53.934-120.12 120.12s53.934 120.12 120.12 120.12 120.12-53.934 120.12-120.12-53.934-120.12-120.12-120.12Z"
                                  fill-rule="evenodd"></path>
                        </svg>
                    </a>

                    <!-- Instagram Button -->
                    <a href="https://www.instagram.com/cbx_med/" target="_blank" class="instagram-share">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                             id="meteor-icon-kit__regular-instagram" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M11.9962 0.0078125C8.73824 0.0078125 8.32971 0.021622 7.05019 0.080003C5.77333 0.138241 4.90129 0.341051 4.13824 0.637622C3.34938 0.944146 2.68038 1.35434 2.01343 2.02124C1.34652 2.68819 0.936333 3.35719 0.629809 4.14605C0.333238 4.9091 0.130429 5.78115 0.0721905 7.058C0.0138095 8.33753 0 8.74605 0 12.0041C0 15.262 0.0138095 15.6705 0.0721905 16.9501C0.130429 18.2269 0.333238 19.099 0.629809 19.862C0.936333 20.6509 1.34652 21.3199 2.01343 21.9868C2.68038 22.6537 3.34938 23.0639 4.13824 23.3705C4.90129 23.667 5.77333 23.8698 7.05019 23.9281C8.32971 23.9864 8.73824 24.0002 11.9962 24.0002C15.2542 24.0002 15.6627 23.9864 16.9422 23.9281C18.2191 23.8698 19.0911 23.667 19.8542 23.3705C20.643 23.0639 21.312 22.6537 21.979 21.9868C22.6459 21.3199 23.0561 20.6509 23.3627 19.862C23.6592 19.099 23.862 18.2269 23.9202 16.9501C23.9786 15.6705 23.9924 15.262 23.9924 12.0041C23.9924 8.74605 23.9786 8.33753 23.9202 7.058C23.862 5.78115 23.6592 4.9091 23.3627 4.14605C23.0561 3.35719 22.6459 2.68819 21.979 2.02124C21.312 1.35434 20.643 0.944146 19.8542 0.637622C19.0911 0.341051 18.2191 0.138241 16.9422 0.080003C15.6627 0.021622 15.2542 0.0078125 11.9962 0.0078125ZM11.9962 2.16929C15.1993 2.16929 15.5788 2.18153 16.8437 2.23924C18.0133 2.29257 18.6485 2.488 19.0712 2.65229C19.6312 2.86991 20.0308 3.12986 20.4506 3.54967C20.8704 3.96943 21.1303 4.36905 21.348 4.929C21.5122 5.35172 21.7077 5.98691 21.761 7.15653C21.8187 8.42148 21.831 8.80091 21.831 12.0041C21.831 15.2071 21.8187 15.5866 21.761 16.8515C21.7077 18.0211 21.5122 18.6563 21.348 19.0791C21.1303 19.639 20.8704 20.0386 20.4506 20.4584C20.0308 20.8782 19.6312 21.1381 19.0712 21.3558C18.6485 21.5201 18.0133 21.7155 16.8437 21.7688C15.579 21.8265 15.1996 21.8388 11.9962 21.8388C8.79286 21.8388 8.41352 21.8265 7.14871 21.7688C5.97909 21.7155 5.3439 21.5201 4.92119 21.3558C4.36124 21.1381 3.96162 20.8782 3.54186 20.4584C3.1221 20.0386 2.8621 19.639 2.64448 19.0791C2.48019 18.6563 2.28476 18.0211 2.23143 16.8515C2.17371 15.5866 2.16148 15.2071 2.16148 12.0041C2.16148 8.80091 2.17371 8.42148 2.23143 7.15653C2.28476 5.98691 2.48019 5.35172 2.64448 4.929C2.8621 4.36905 3.12205 3.96943 3.54186 3.54967C3.96162 3.12986 4.36124 2.86991 4.92119 2.65229C5.3439 2.488 5.97909 2.29257 7.14871 2.23924C8.41367 2.18153 8.7931 2.16929 11.9962 2.16929ZM11.9962 16.0028C9.78776 16.0028 7.99748 14.2125 7.99748 12.0041C7.99748 9.79558 9.78776 8.00529 11.9962 8.00529C14.2047 8.00529 15.995 9.79558 15.995 12.0041C15.995 14.2125 14.2047 16.0028 11.9962 16.0028ZM11.9962 5.84381C8.594 5.84381 5.836 8.60181 5.836 12.0041C5.836 15.4062 8.594 18.1642 11.9962 18.1642C15.3984 18.1642 18.1564 15.4062 18.1564 12.0041C18.1564 8.60181 15.3984 5.84381 11.9962 5.84381ZM18.3998 7.03996C19.1949 7.03996 19.8394 6.39548 19.8394 5.60043C19.8394 4.80538 19.1949 4.16086 18.3998 4.16086C17.6048 4.16086 16.9603 4.80538 16.9603 5.60043C16.9603 6.39548 17.6048 7.03996 18.3998 7.03996Z"
                                  fill="currentColor"></path>
                        </svg>
                    </a>
                </div>
            </header>
        {%- when 'content' -%}
            <div class="cbx-pt-10 cbx-flex cbx-flex-col cbx-gap-5"
                 itemprop="articleBody" {{ block.shopify_attributes }}>
                {{ article.content }}
            </div>
        {%- when 'references' -%}
            {%- if block.settings.blog_references -%}
                <div class='cbx-font-body cbx-border-y cbx-border-green5 cbx-border-dashed cbx-py-2.5 cbx-text-xss cbx-mt-10'>
                    <span>Sources</span>
                    {{ block.settings.blog_references | newline_to_br }}
                </div>
            {% endif %}
        {%- when 'share' -%}
        <div class="article-template__social-sharing"
                {{ block.shopify_attributes }}>
            <div class="article-template__social-sharing"
                    {{ block.shopify_attributes }}>
                {% assign share_url = request.origin | append: article.url %}
                {% render 'share-button', block: block, share_link: share_url %}
            </div>
            {%- endcase -%}
            {%- endfor -%}

            {%- if blog.comments_enabled? -%}
                <div class="article-template__comment-wrapper background-secondary">
                    <div id="comments" class="">
                        {%- if article.comments_count > 0 -%}
                            {%- assign anchorId = '#Comments-' | append: article.id -%}

                            <h2 id="Comments-{{ article.id }}" tabindex="-1">
                                {{ 'blogs.article.comments' | t: count: article.comments_count }}
                            </h2>
                            {% paginate article.comments by 5 %}
                                <div class="article-template__comments">
                                    {%- if comment.status == 'pending' and comment.content -%}
                                        <article id="{{ comment.id }}" class="article-template__comments-comment">
                                            {{ comment.content }}
                                            <footer class="right">
                                                <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                                            </footer>
                                        </article>
                                    {%- endif -%}

                                    {%- for comment in article.comments -%}
                                        <article id="{{ comment.id }}" class="article-template__comments-comment">
                                            {{ comment.content }}
                                            <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                    ><span class="caption-with-letter-spacing">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </span>
                                            </footer>
                                        </article>
                                    {%- endfor -%}
                                    {% render 'pagination', paginate: paginate, anchor: anchorId %}
                                </div>
                            {% endpaginate %}
                        {%- endif -%}
                        {% form 'new_comment', article %}
                            {%- liquid
                                assign post_message = 'blogs.article.success'
                                if blog.moderated? and comment.status == 'unapproved'
                                    assign post_message = 'blogs.article.success_moderated'
                                endif
                            -%}
                            <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
                            {%- if form.errors -%}
                                <div class="form__message" role="alert">
                                    <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                                        {% render 'icon-error' %}
                                        {{ 'templates.contact.form.error_heading' | t }}
                                    </h3>
                                </div>
                                <ul class="form-status-list caption-large">
                                    {%- for field in form.errors -%}
                                        <li>
                                            <a href="#CommentForm-{{ field }}" class="link">
                                                {%- if form.errors.translated_fields[field] contains 'author' -%}
                                                    {{ 'blogs.article.name' | t }}
                                                {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                                                    {{ 'blogs.article.message' | t }}
                                                {%- else -%}
                                                    {{ form.errors.translated_fields[field] }}
                                                {%- endif -%}
                                                {{ form.errors.messages[field] }}
                                            </a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            {%- elsif form.posted_successfully? -%}
                                <div class="form-status-list form__message" role="status">
                                    <h3 class="form-status" tabindex="-1" autofocus>
                                        {% render 'icon-success' %}
                                        {{ post_message | t }}
                                    </h3>
                                </div>
                            {%- endif -%}

                            <div
                                    {% if blog.moderated? == false %}
                                        class="article-template__comments-fields"
                                    {% endif %}
                            >
                                <div class="article-template__comment-fields">
                                    <div class="field field--with-error">
                                        <input
                                                type="text"
                                                name="comment[author]"
                                                id="CommentForm-author"
                                                class="field__input"
                                                autocomplete="name"
                                                value="{{ form.author }}"
                                                aria-required="true"
                                                required
                                                {% if form.errors contains 'author' %}
                                                    aria-invalid="true"
                                                    aria-describedby="CommentForm-author-error"
                                                {% endif %}
                                                placeholder="{{ 'blogs.article.name' | t }}"
                                        >
                                        <label class="field__label" for="CommentForm-author">
                                            {{- 'blogs.article.name' | t }}
                                            <span aria-hidden="true">*</span></label
                                        >
                                        {%- if form.errors contains 'author' -%}
                                            <small id="CommentForm-author-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                        {{- 'blogs.article.name' | t }}
                        {{ form.errors.messages.author }}.</span
                    >
                                            </small>
                                        {%- endif -%}
                                    </div>
                                    <div class="field field--with-error">
                                        <input
                                                type="email"
                                                name="comment[email]"
                                                id="CommentForm-email"
                                                autocomplete="email"
                                                class="field__input"
                                                value="{{ form.email }}"
                                                autocorrect="off"
                                                autocapitalize="off"
                                                aria-required="true"
                                                required
                                                {% if form.errors contains 'email' %}
                                                    aria-invalid="true"
                                                    aria-describedby="CommentForm-email-error"
                                                {% endif %}
                                                placeholder="{{ 'blogs.article.email' | t }}"
                                        >
                                        <label class="field__label" for="CommentForm-email">
                                            {{- 'blogs.article.email' | t }}
                                            <span aria-hidden="true">*</span></label
                                        >
                                        {%- if form.errors contains 'email' -%}
                                            <small id="CommentForm-email-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                        {{- 'blogs.article.email' | t }}
                        {{ form.errors.messages.email }}.</span
                    >
                                            </small>
                                        {%- endif -%}
                                    </div>
                                </div>
                                <div class="field field--with-error">
              <textarea
                      rows="5"
                      name="comment[body]"
                      id="CommentForm-body"
                      class="text-area field__input"
                      aria-required="true"
                      required
                {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                                    <label class="form__label field__label" for="CommentForm-body">
                                        {{- 'blogs.article.message' | t }}
                                        <span aria-hidden="true">*</span></label
                                    >
                                </div>
                                {%- if form.errors contains 'body' -%}
                                    <small id="CommentForm-body-error">
                <span class="form__message">
                  {%- render 'icon-error' -%}
                    {{- 'blogs.article.message' | t }}
                    {{ form.errors.messages.body }}.</span
                >
                                    </small>
                                {%- endif -%}
                            </div>
                            {%- if blog.moderated? -%}
                                <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
                            {%- endif -%}
                            <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
                        {% endform %}
                    </div>
                </div>
            {%- endif -%}
    </article>

    <div class='cbx-relative cbx-h-full cbx-order-3'>
        <div class='cbx-top-5 cbx-sticky cbx-rounded {% unless section.settings.product %}cbx-h-[300px] cbx-bg-green5{%endunless%}'>
            {% if section.settings.product %}

            {% render 'card-product',
                    card_product: section.settings.product,
                    show_secondary_image: true,
                    lazy_load: lazy_load,
                    section_id: section.id
            %}
{%endif%}
        </div>
    </div>
</div>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
{% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

<script>
  // Sélectionnez tous les titres d'articles
  let articleTitles = document.querySelectorAll('article :is(h1, h2, h3, h4, h5, h6)');

  // Sélectionnez la liste ul
  let ulElement = document.getElementById('titres');

  articleTitles.forEach((title, index) => {
    console.log(title.textContent);

    // Créez une ancre si elle n'existe pas
    if (!title.id) {
      title.id = `article-title-${index}`;
    }

    // Créez un nouvel élément li
    let liElement = document.createElement('li');

    // Créez un nouvel élément a
    let aElement = document.createElement('a');

    // Définissez le href de l'élément a pour pointer vers l'ancre du titre
    aElement.href = `#${title.id}`;

    // Définissez le texte de l'élément a pour être le texte du titre
    aElement.textContent = title.textContent;

    // Ajoutez l'élément a à l'élément li
    liElement.appendChild(aElement);

    // Ajoutez l'élément li à la liste ul
    ulElement.appendChild(liElement);


  });
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "label": "Produit en avant",
      "id": "product"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "image",
      "name": "Image"
    },
    {
      "type": "breadcrumb",
      "name": "Breadcrumb",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "breadcrumb",
          "label": "Breadcrumb",
          "default": "Blog"
        }
      ]
    },
    {
      "type": "references",
      "name": "Références",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "blog_references",
          "default": "<p></p>",
          "label": "Présentation de l'article"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_divide",
          "default": true,
          "label": "Afficher le séparateur"
        },
        {
          "type": "richtext",
          "id": "blog_presentation",
          "default": "<p>Lorem ipsum Fondée en 2018 par Flora Mer, Jonathan Blondiau et Lionel Quartaert, la start-up développe et commercialise la meilleure qualité de solutions issus de la plante de cannabis</p>",
          "label": "Présentation de l'article"
        },
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
