<div class="login-cbx cbx-relative cbx-min-h-screen cbx-w-full cbx-flex cbx-justify-center cbx-items-center">
    <div class='cbx-max-w-[331px] cbx-w-full cbx-m-auto cbx-p-10 cbx-bg-white cbx-rounded'>
        <h1 id="reset" class='!cbx-hidden' tabindex="-1">
            {{ 'customer.reset_password.title' | t }}
        </h1>
        <div>
            <div class='cbx-flex cbx-flex-col cbx-items-center cbx-justify-center cbx-font-display cbx-text-11 cbx-text-green cbx-gap-2 cbx-pb-4'>
                <p>
                    {{ 'customer.reset_password.subtext' | t }}
                </p>
            </div>
            {%- form 'reset_customer_password' -%}
                {%- if form.errors -%}
                    <h2 class="form__message" tabindex="-1" autofocus>
                        <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                        <svg aria-hidden="true" focusable="false">
                            <use href="#icon-error" />
                        </svg>
                        {{ 'templates.contact.form.error_heading' | t }}
                    </h2>
                    <ul>
                        {%- for field in form.errors -%}
                            <li>
                                {%- if field == 'form' -%}
                                    {{ form.errors.messages[field] }}
                                {%- else -%}
                                    <a href="#{{ field }}">
                                        {{ form.errors.translated_s[field] | capitalize }}
                                        {{ form.errors.messages[field] }}
                                    </a>
                                {%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}

                <div class='cbx-flex cbx-flex-col cbx-items-center cbx-justify-center cbx-text-green cbx-gap-2 cbx-pb-4 cbx-w-full'>
                    <div class="cbx-w-full">
                        <input
                                type="password"
                                name="customer[password]"
                                id="password"
                                autocomplete="new-password"
                                {% if form.errors contains 'password' %}
                                    aria-invalid="true"
                                    aria-describedby="password-error"
                                {% endif %}
                                placeholder="{{ 'customer.reset_password.password' | t }}"
                        >
                        <label for="password">
                            {{ 'customer.reset_password.password' | t }}
                        </label>
                        {%- if form.errors contains 'password' -%}
                            <small id="password-error" class="form__message">
                                <svg aria-hidden="true" focusable="false">
                                    <use href="#icon-error" />
                                </svg>
                                {{ form.errors.translated_s.password | capitalize }}
                                {{ form.errors.messages.password }}
                            </small>
                        {%- endif -%}
                    </div>
                    <div class="cbx-w-full">
                        <input type="password"
                               name="customer[password_confirmation]"
                               id="password_confirmation"
                               autocomplete="new-password"
                                {% if form.errors contains 'password_confirmation' %}
                                    aria-invalid="true"
                                    aria-describedby="password_confirmation-error"
                                {% endif %}
                               placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                        <label for="password_confirmation">
                            {{ 'customer.reset_password.password_confirm' | t }}
                        </label>
                        {%- if form.errors contains 'password_confirmation' -%}
                            <small id="password_confirmation-error" class="form__message">
                                <svg aria-hidden="true" focusable="false">
                                    <use href="#icon-error" />
                                </svg>
                                {{ form.errors.translated_s.password_confirmation | capitalize }}
                                {{ form.errors.messages.password_confirmation }}
                            </small>
                        {%- endif -%}
                    </div>
                </div>

                <button class='cbx-btn cbx-btn-vert'>
                    {{ 'customer.reset_password.submit' | t }}
                </button>
            {%- endform -%}
            {% if section.settings.image_bg %}
                {{ section.settings.image_bg | image_url: width: '4000' | image_tag: class: 'cbx-absolute cbx-inset-0 cbx-object-cover cbx-w-full cbx-h-full cbx-z-[-1]', sizes: '100vw' }}
            {% endif %}
        </div>

    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Image background"
    }
  ]
}
{% endschema %}
