{{ 'component-card.css' | asset_url | stylesheet_tag }}

<product-recommendations class="cbx-container-site swiper-container-produits cbx-w-full cbx-mb-20 cbx-relative"
                         data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
    {% if recommendations.performed and recommendations.products_count > 0 %}
        <!-- Title -->
        <div class='cbx-flex cbx-flex-col cbx-items-center cbx-pb-12 cbx-max-w-xl cbx-mx-auto'>
            <span class='cbx-text-green5 cbx-pb-2.5'>{{ section.settings.sur_titre }}</span>
            <h2 class='cbx-text-4xl lg:cbx-text-5xls cbx-font-display cbx-text-green2 cbx-text-center'>
                {{ section.settings.titre | newline_to_br }}
            </h2>
        </div>

        <div class="swiper-wrapper">
            {% for recommendation in recommendations.products %}
                <div class='swiper-slide' data-slideNumber="{{ slideNumber }}" {{ block.shopify_attributes }}>
                    {% render 'card-product',
                            card_product: product,
                            show_secondary_image: true,
                            lazy_load: lazy_load,
                            section_id: section.id
                    %}
                </div>
            {%- endfor -%}

        </div>

        <div class='swiper-pagination'></div>

    {% endif %}
</product-recommendations>

{% schema %}
{
  "name": "Produits recommandés",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "sur_titre",
      "label": "Sur titre",
      "default": "Press & Reviews"
    },
    {
      "type": "textarea",
      "id": "titre",
      "label": "Titre",
      "default": "Les professionels de la santé en parlent",
      "placeholder": "Les professionels de la santé en parlent"
    }
  ]
}
{% endschema %}
