{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign video_id = section.settings.video.id | default: section.settings.video_url.id
    assign video_alt = section.settings.video.alt | default: section.settings.description
    assign alt = 'sections.video.load_video' | t: description: video_alt | escape
    assign poster = section.settings.video.preview_image | default: section.settings.cover_image

    if section.settings.video != null
        assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
        if ratio_diff < 0.01 and ratio_diff > 0
            assign fix_ratio = true
        endif
    endif
-%}

<div class="{% if section.settings.padding_bottom %}cbx-pb-20{% endif %}">
    <div class="video-section isolate {% if section.settings.full_width %}cbx-container-site{% endif %}">
        <noscript>
            <div class="video-section__media" {% if poster != null %} style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;" {% endif %}>
                {%- if section.settings.video == null and section.settings.video_url != null -%}
                    <a href="{{ section.settings.video_url }}"
                       class="video-section__poster media media--transparent{% if poster == null %} video-section__placeholder{% endif %}">
                        {%- if poster != null -%}
                            {{
                            poster
                            | image_url: width: 3840
                            | image_tag:
                            loading: 'lazy',
                            sizes: '100vw',
                            widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                            alt: alt
                            }}
                        {%- else -%}
                            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                    </a>
                {%- else -%}
                    {{
                    section.settings.video
                    | video_tag: image_size: '1100x', loop: section.settings.enable_video_looping, controls: true, muted: false
                    }}
                {%- endif -%}
            </div>
        </noscript>
        <deferred-media
                class="cbx-w-full cbx-min-h-[calc(100vh-110px)] lg:cbx-aspect-video cbx-relative deferred-media no-js-hidden {% if section.settings.full_width %}cbx-rounded {% endif %} cbx-overflow-hidden"
                data-media-id="{{ video_id }}"
                {% if poster != null %}style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;" {% endif %}>

            <div class="cbx-absolute cbx-w-full cbx-h-full cbx-bg-black/30"></div>

            <div class="cbx-absolute cbx-w-full cbx-h-full cbx-flex cbx-justify-end lg:cbx-justify-center lg:cbx-items-center cbx-px-5 cbx-py-10">
                <div class='cbx-max-w-2xl cbx-mx-auto cbx-flex cbx-flex-col cbx-justify-end lg:cbx-justify-center lg:cbx-items-center'>
                    {% if section.settings.heading != blank %}
                        <h2 class='cbx-text-beigeLight leading-8 cbx-text-xls cbx-font-light lg:cbx-text-4xl lg:cbx-font-normal lg:cbx-text-center cbx-pb-4'>
                            {{ section.settings.heading | newline_to_br }}
                        </h2>
                    {% endif %}
                    {% if section.settings.lien_du_bouton and section.settings.texte_du_bouton %}
                        <div class='cbx-flex'>
                            <a href='{{ section.settings.lien_du_bouton }}' class="cbx-btn cbx-btn-white">
                                {{ section.settings.texte_du_bouton }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <button id="Deferred-Poster-Modal-{{ video_id }}"
                    class="video-section__poster media deferred-media__poster media--landscape"
                    type="button"
                    aria-label="{{ alt }}">
                {%- if poster != null -%}
                    {{
                    poster
                    | image_url: width: 1200
                    | image_tag: loading: 'lazy', sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
                    }}
                {%- else -%}
                    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
                {% comment %}<span class="deferred-media__poster-button motion-reduce">
                {%- render 'icon-play' -%}
                </span>{% endcomment %}
            </button>

            <template>
                {%- if section.settings.video == null and section.settings.video_url != null -%}
                    {%- liquid
                        assign loop = ''
                        if section.settings.enable_video_looping
                            assign loop = '&showinfo=0&controls=0&autohide=1&mute=1&loop=1&playlist=' | append: video_id
                        endif
                    -%}
                    {%- if section.settings.video_url.type == 'youtube' -%}
                        <iframe src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                                class="js-youtube cbx-w-full cbx-h-full"
                                allow="autoplay; encrypted-media"
                                allowfullscreen
                                autoplay
                                muted
                                title="{{ section.settings.description | escape }}"
                        ></iframe>
                    {%- else -%}
                        <iframe src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                                class="js-vimeo cbx-w-full cbx-h-full"
                                allow="autoplay; encrypted-media"
                                allowfullscreen
                                muted
                                autoplay
                                title="{{ section.settings.description | escape }}"
                        ></iframe>
                    {%- endif -%}
                {%- else -%}
                    {{
                    section.settings.video
                    | video_tag:
                    image_size: '1100x',
                    autoplay: true,
                    loop: true,
                    controls: false,
                    muted: true,
                    class: 'cbx-absolute cbx-inset-0 cbx-object-cover cbx-w-full cbx-h-full',
                    style: 'z-index:-1'
                    }}
                {%- endif -%}
            </template>
        </deferred-media>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Vidéo avec marge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "padding_bottom",
      "label": "Padding bas",
      "default": true
    },
    {
      "type": "header",
      "content": "Bouton associé"
    },
    {
      "type": "text",
      "id": "texte_du_bouton",
      "label": "Texte du bouton",
      "default": "Découvrez nos produits",
      "placeholder": "Découvrez nos produits"
    },
    {
      "type": "url",
      "id": "lien_du_bouton",
      "label": "Lien du bouton"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
